.form-container {
  margin: 27vh auto;
  width: 20vw;
}
.log-bannar {
  text-align: center;
  background-color: #424242;
  padding: 10px;
  border: black solid 2px;
  color: white;
  border-radius: 5px;
}
.form-input {
  width: 100%;
  border-radius: 0;
  text-align: center;
  height: 5vh;
  margin-top: 0.5vh;
  border: 2px solid black;
  font-size: 1.3rem;
  border-radius: 5px;
}
.text {
  background-color: white;
}
.text:focus {
  outline: none;
}
.form-btn {
  background-color: #424242;
  height: 7vh;
  font-weight: 700;
  color: white;
}
.form-btn:hover {
  background-color: black;
  transition: 0.2s ease-in;
  cursor: pointer;
}
