.bannar {
  font-size: 8rem;
  text-align: center;
  margin-top: 25vh;
  color: #424242;
}
.display-container {
  display: flex;
  justify-content: center;
}
.display {
  z-index: 0;
  height: 80vh;
  width: 20vw;
  background-color: #626262;
  margin-top: 30vh;
  margin-right: 4vw;
  border-radius: 15px;
}
.display:last-child {
  margin-right: 0;
}
.table-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
  margin-bottom: 2vh;
}
.red {
  background-color: #ff5252;
}
.blue {
  background-color: #5983f0;
}
.green {
  background-color: #7bb866;
}
.card {
  height: 17%;
  width: 90%;
  margin: 1vh auto;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.job-title {
  margin-top: 10%;
}
.employer {
  margin-top: 1vh;
}
.slogan-header {
  font-size: 5rem;
  text-align: center;
  margin-top: 20vh;
  color: #424242;
}
.slogan-text {
  font-size: 2rem;
  text-align: center;
  margin: 2vh 20vw 2vh 20vw;
  color: #424242;
}
.sign-btn-container {
  margin: 0 auto;
  width: 10vw;
}
.sign-btn {
  height: 7vh;
  width: 10vw;
  background-color: white;
  border-radius: 0;
  border: 3px solid #424242;
  color: #424242;
  font-weight: 100;
  font-size: 1.5rem;
}
.sign-btn:hover {
  background-color: #424242;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.btn-link-cont {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5vh 0 20vh 0;
}
