.bannar {
  font-size: 8rem;
  text-align: center;
  margin-top: 25vh;
  color: #424242;
}
.display-container {
  display: flex;
  justify-content: center;
}
.display {
  z-index: 0;
  height: 80vh;
  width: 20vw;
  background-color: #626262;
  margin-top: 30vh;
  margin-right: 4vw;
  border-radius: 15px;
}
.display:last-child {
  margin-right: 0;
}
.table-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  border-radius: 15px;
  font-size: 2rem;
  color: white;
  margin-bottom: 2vh;
}
.red {
  background-color: #ff5252;
}
.blue {
  background-color: #5983f0;
}
.green {
  background-color: #7bb866;
}
.card {
  height: 17%;
  width: 90%;
  margin: 1vh auto;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.job-title {
  margin-top: 10%;
}
.employer {
  margin-top: 1vh;
}
